{% block footer %}
<footer class="container">
    <div class="footer-contact">
        <div class="contact">
            <p class="footer-head">Contact Us</p>
            <ul class="footer-list">
                <li><a class="footer-link" href="#" class="email">info@CollectorsCars.com</a></li>
                <li><a class="footer-link" href="#">Twitter</a></li>
                <li><a class="footer-link" href="#">Member Support</a></li>
                <li>123 Fake St., Chicago, Il</li>
            </ul>
        </div>
    </div>
    <div class="footer-links">
        <p class="footer-head">Work with us</p>
        <ul class="footer-list">
            <li><a class="footer-link" href="#">Careers</a></li>
            <li><a class="footer-link" href="#">Collaborations</a></li>
            <li><a class="footer-link" href="#">Community Projects</a></li>
        </ul>
    </div>
    <div class="footer-list">
        <p class="footer-head">Legal</p>
        <ul class="footer-list">
            <li class="footer-link">copyright 2023</li>
            <li><a href="#" class="footer-link">Privacy</a></li>
            <li><a class="footer-link" href="#">Manage Cookies</a></li>
            <li><a class="footer-link" href="#">Help</a>
        </ul>
    </div>
</footer>
{% endblock %}